<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'category/css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js'%}">
    {% block css %}
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock%}</title>
</head>
<body>
{% block body %}

{% endblock %}


{% load static %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'user_auth/js/user_auth.js'%}"></script>

</body>
</html>