{% extends 'user_auth/base.html' %}

{% block title%}
Сброс пароля
{% endblock %}

{% block body %}
<div class="container">
    <header class="header">

    </header>
    <main class="main">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Введите новый пароль для входа в систему официанту {{waiter.username}}.
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                        <input type="password" name="password" id="typePassword" class="form-control my-3"/>
                        <label class="form-label" for="typePassword">Password input</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset password</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock%}