<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'category/css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js'%}">
    <link rel="stylesheet" href="{% static 'admin_p/css/waiter.css'%}">
    {% block css%}{% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock%}


</body>
</html>