{% extends 'admin_p/base.html' %}
{% block css %}
{% endblock %}
{%block title%} панель администратора {% endblock%}
{% block body %}
<style>
    {% load static %}
  .add::before {
    content: ""; /* Обязательное свойство для создания псевдоэлемента */
    position:absolute; /* Делаем псевдоэлемент блочным, чтобы он отображался рядом с текстом кнопки */
    top: 9px;
    left: 4px;
    width: 20px; /* Устанавливаем ширину изображения */
    height: 20px; /* Устанавливаем высоту изображения */
    background: url({% static 'admin_p/images/plus-svgrepo-com.svg' %}) no-repeat; /* Путь к вашему SVG-изображению */
    background-size: cover; /* Масштабируем изображение для заполнения размеров */
    margin-right: 5px; /* Расстояние между изображением и текстом кнопки */
}

</style>
<div class="container">
    <header class="pt-4 pb-4 mb-4">
        <div class="d-flex justify-content-around">
            <h2 class=" text-center">Панель администратора</h2>
            <a href="{% url 'logout' %}" class="btn float-end">выход</a>
        </div>
        <div class="line w-100 mb-3"></div>


    </header>
    <main class="pb-4 pt-2">

        <a class="btn btn-success d-block w-50 mx-auto mb-3" href="{% url 'category' %}">меню</a>
        <ul class="model_list d-flex flex-column align-items-center ps-0 mb-3">
            <li class="model_item d-flex mb-3 align-items-center">
                <a href="{% url 'panel_category' %}" class="btn btn-outline-success text-capitalize me-5">категории</a>
                <a href="{% url 'panel_category_create' %}" class="add btn btn-outline-success ps-4">добавить</a>
            </li>
            <li class="model_item d-flex align-items-center ps-0 mb-3">
                <a href="{% url 'panel_product' %}" class="btn btn-outline-success text-capitalize me-5">продукты</a>
                <a href="{% url 'panel_product_create' %}" class="add btn btn-outline-success ps-4">добавить</a>
            </li>
            <li class="model_item d-flex align-items-center ps-0 mb-3">
                <a href="{% url 'all_waiters' %}" class="btn btn-outline-success text-capitalize me-5">Официанты</a>
                <a href="{% url 'add_waiter' %}" class="add btn btn-outline-success ps-4">добавить</a>
            </li>
        </ul>
        <section class="table">
            <div class="table__block">

                {% if tables %}

                    <h1 class="text-center mb-3">
                        Столы
                    </h1>

                    <ul class="tables row align-items-start justify-content-around ps-0">
                        {% for table in tables %}
                            {% if table.owner_officiant %}
                                <li class="col-3 mb-2 ms-2 me-2">
                                    <a href="{% url 'panel_table_detail' table.id  %}" class="tables__item p-2 btn btn-danger w-100 ps-0 pe-0">{{table.name}}</a>
                                </li>
                            {% else %}
                                <li class="col-3 mb-2 ms-2 me-2">
                                    <a href="{% url 'panel_table_detail' table.id  %}" class="tables__item p-2 btn btn-success w-100 ps-0 pe-0">{{table.name}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                <p class="table__title text-center mb-2">Сколько столов добавить ?</p>
                    <form class="table__input quantity w-50 mx-auto text-center" method="post">
                        {% csrf_token %}
                        <input name="quantity" min="1" max="30" required type="number" class="form-control quantity__input w-25 mx-auto mb-2">
                        <input type="submit" class="quantity__button btn btn-danger mx-auto" value="создать столы"/>
                    </form>
                {% else %}
                <p class="text-center mb-2">создайте столы, чтобы официанты могли работать</p>
                <p class="table__title text-center mb-2">Сколько столов создать?</p>
                <form class="table__input quantity w-50 mx-auto text-center" method="post">
                    {% csrf_token %}
                    <input name="quantity" min="1" max="30" required type="number" class="form-control quantity__input w-25 mx-auto mb-2">
                    <input type="submit" class="quantity__button btn btn-danger mx-auto" value="создать столы"/>
                </form>
                {% endif %}
            </div>
        </section>

    </main>
</div>

{% endblock %}