
.main{
    background-size: cover; /* Растягивает изображение на весь экран и сохраняет пропорции */
    background-position: center center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main_menu{
    background-size: cover; /* Растягивает изображение на весь экран и сохраняет пропорции */
    background-position: center center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat;
    min-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.admin{
    position: absolute;
    bottom: 0;
    left: 10px;
}
.sw_item{
    background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 88%,#002400 100%);
}
