
:root{
   --swiper-theme-color: #ffc107;
}

.main{
    background-size: cover; /* Растягивает изображение на весь экран и сохраняет пропорции */
    background-position: center center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main_menu{
    background-size: cover; /* Растягивает изображение на весь экран и сохраняет пропорции */
    background-position: center center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat;
    min-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



.w-90{
    width: 90%;
}

.admin{
    position: absolute;
    top:5px;
    left: 10px;
}
.sw_item{
    background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 88%,#002400 100%);
}
.sw_block{
    background-size: cover;  /* Растягивает изображение на весь экран и сохраняет пропорции */
    background-position: center center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat;
}

.swiper{
    height: 350px;
}

.description-large{
        display:none;
    }

/* @media */

@media(min-width:575px){
    .swiper{
        height: 250px;
    }
    .price{
        margin-left: 0!important;
    }
    .title::after{
        display: block!important;
    }
}
@media(min-width:768px){
    .swiper{
        height: 200px;
    }
}

@media(min-width:960px){
    .description-large{
        display:block;
    }
    .description-small{
        display:none;
    }
    .swiper{
        height: 175px;
    }
}